
<div class="container">
    <h1 style="text-align:center ;">Crew List</h1>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Title</th>
        <th scope="col">Nationality</th>
        <th scope="col">Edit</th>
        <th scope="col">Details</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of crewList">
        <td>{{item.Id}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.Title}}</td>
        <td>{{item.Nationality}}</td>
        <td><button class="btn btn-outline-primary" mat-button (click)="openDialog(item.Id)">Edit</button></td>
        <td><a 
            class="btn btn-outline-success"
            routerLink="./{{ item.Id }}"
            >Details</a>
        </td>
        <td><button class="btn btn-outline-danger" mat-button (click)="deleteCrew(item.Id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
  
  
