<div class="container">
  <div class="w-100 text-center mb-5 mt-5">
    <h1>{{ "crewList" | translate }}</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="headRow">
        <th class="headNo" scope="col">#</th>
        <th scope="col">{{ "firstName" | translate }}</th>
        <th scope="col">{{ "lastName" | translate }}</th>
        <th scope="col">{{ "title" | translate }}</th>
        <th scope="col">{{ "nationality" | translate }}</th>
        <th scope="col">{{ "daysOnBoard" | translate }}</th>
        <th scope="col">{{ "dailyRate" | translate }}</th>
        <th scope="col">{{ "currency" | translate }}</th>
        <th scope="col">{{ "discount" | translate }}</th>
        <th scope="col">{{ "totalIncome" | translate }}</th>
        <th scope="col">{{ "edit" | translate }}</th>
        <th scope="col">{{ "details" | translate }}</th>
        <th scope="col">{{ "delete" | translate }}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of crewList; let index = index">
        <th scope="row" [innerText]="index + 1"></th>
        <td>{{ item.FirstName }}</td>
        <td>{{ item.LastName }}</td>
        <td>{{ item.Title }}</td>
        <td>{{ item.Nationality }}</td>
        <td>{{ item.DaysOnBoard }}</td>
        <td>{{ item.DailyRate }}</td>
        <td>{{ item.Currency }}</td>
        <td>
          <input
            type="number"
            class="form-control"
            [ngModel]="inputValue"
            (ngModelChange)="getDiscountedIncome($event, item.Id)"
          />
        </td>
        <td>{{ item.TotalIncome }}</td>
        <td>
          <button class="btn btn-outline-primary" (click)="openDialog(item.Id)">
            {{ "edit" | translate }}
          </button>
        </td>
        <td>
          <a class="btn btn-outline-success" routerLink="./{{ item.Id }}">{{
            "detailsPage" | translate
          }}</a>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="deleteCrew(item.Id)">
            {{ "delete" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    style="float: right"
    mat-raised-button
    color="primary"
    (click)="onCreate()"
  >
    {{ "addCrew" | translate }}
  </button>
  <table class="table table-bordered w-25 text-center mb-5 mt-5">
    <thead>
      <tr>
        <th style="width: 50%">{{ "currency" | translate }}</th>
        <th style="width: 50%">{{ "grandTotal" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EUR</td>
        <td>{{ sumEURR() }}</td>
      </tr>
      <tr>
        <td>USD</td>
        <td>{{ sumUSDD() }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div></div>
