
<div class="container">
    <h1 style="text-align:center ;">Crew Details</h1>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Title</th>
        <th scope="col">Nationality</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{{crew.Id}}</td>
        <td>{{crew.FirstName}}</td>
        <td>{{crew.LastName}}</td>
        <td>{{crew.Title}}</td>
        <td>{{crew.Nationality}}</td>
      </tr>
    </tbody>
  </table>
  <app-certificates></app-certificates>
</div>

