<div class="container">
  
    <div class="row">
      <form [formGroup]="crewForm" (ngSubmit)="addCrew()">
        <div class="row mb-3">
        <div class="col-sm">
          <label for="Id" class="form-label">Id</label>
          <input
            type="number"
            class="form-control"
            id="Id"
            formControlName="Id"
          />
        </div>
          <div class="col-sm">
          <label for="FirstName" class="form-label">{{'firstName' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="FirstName"
            formControlName="FirstName"
          />
        </div>
        <div class="col-sm">
          <label for="LastName" class="form-label">{{'lastName' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="LastName"
            formControlName="LastName"
          />
        </div>
        <div class="col-sm">
          <label for="Title" class="form-label">{{'title' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="Title"
            formControlName="Title"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label for="Nationality" class="form-label">{{'nationality' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="Nationality"
            formControlName="Nationality"
          />
        </div>
        <div class="col-sm">
          <label for="DaysOnBoard" class="form-label">{{'daysOnBoard' | translate}}</label>
          <input
            type="number"
            class="form-control"
            id="DaysOnBoard"
            formControlName="DaysOnBoard"
          />
        </div>
        <div class="col-sm">
          <label for="DailyRate" class="form-label">{{'dailyRate' | translate}}</label>
          <input
            type="number"
            class="form-control"
            id="DailyRate"
            formControlName="DailyRate"
          />
        </div>
        <div class="col-sm">
          <label for="TotalIncome" class="form-label">{{'totalIncome' | translate}}</label>
          <input
            type="number"
            class="form-control"
            id="TotalIncome"
            formControlName="TotalIncome"
          />
        </div>
        <div class="col-sm">
          <label class="form-label">{{'currency' | translate}}</label>
                <select
                  class="form-select"
                  formControlName="Currency"
                  aria-label="Default select example"
                >
                  <option value="EUR">EUR</option>
                  <option value="USD">USD</option>
                </select>
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <button
              type="button"
              (click)="addCertificateFormGroup()"
              class="btn btn-primary"
              style="float: right;"
            >
            {{'addCertificate' | translate}}
            </button>
          </div>
        </div>
      <div class="mb-3" formArrayName="Certificates">
        
        <ng-container
          *ngFor="let certificatesForms of certificatesForms.controls; let i = index"
        >
          <div class="row" [formGroupName]="i">
            <div class="col col-md-5">
              <div class="mb-3">
                <label [for]="'name' + i" class="form-label"
                  >{{'certificateName' | translate}}</label
                >
                <input
                  type="text"
                  class="form-control"
                  [id]="'name' + i"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col col-md-5">
              <div class="mb-3">
                <label [for]="'date' + i" class="form-label"
                  >{{'certificateDate' | translate}}</label
                >
                <input
                  type="date"
                  class="form-control"
                  [id]="'date' + i"
                  formControlName="date"
                />
              </div>
            </div>
            <div class="col col md-2">
              <button
                class="btn btn-danger mt-4"
                type="button"
                (click)="removeCertificateFormGroup(i)"
              >
              {{'delete' | translate}}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
        <button type="submit" class="btn btn-primary">{{'save' | translate}}</button>
      </form>
  
  <div><button class="btn btn-primary" (click)="closeDialog()" style="float: right; width: 70px;">{{'close' | translate}}</button></div>
</div>